#gameboard {
    display: none;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 500px;
    height: 500px;
    gap: 5px;
    background-color: chartreuse;
}

.cell {
    background-color: red;
    width: 100px;
    height: 100px;
    justify-self: center;
    align-self: center;
}